/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2020, 1:30:58 PM
    Author     : ZakS
*/


.contentOverlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1030;
    /* cursor: wait !important; */
}

.table_label {
    font-family: 'LatoWeb', serif;
    color: #07237d;
    font-weight: 700;
}

.table_value {
    font-family: 'LatoWeb', serif;
    color: #07237d;
}

#client-div span.select2-selection  {
    border: 0px
}

/*
SELECT 2
Used for the 
*/
#client-div .select2-selection__rendered {
    /* line-height: 31px !important; */
}

#client-div .select2-container .select2-selection--single {
    height: 50px !important;
}

#client-div .select2-selection__arrow {
    height: 34px !important;
}

/*
NAV TABS
*/

/* NEW */
.main-content .nav-tabs > li.active > a, 
.main-content .nav-tabs > li.active > a:focus, 
.main-content .nav-tabs > li.active > a:hover {
    color: var(--primary);
    cursor: default;
    background-color: #f5f5f5;
    border: 2px solid var(--primary);
    border-bottom: 2px solid #f5f5f5;
    font-weight: bold;
    margin-bottom: -3px;
    border-radius: 4px;
}

.main-content .nav-tabs {
    border-bottom: 2px solid var(--primary);
}

.main-content .nav-tabs > li > a:focus, 
.main-content .nav-tabs > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.main-content .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.main-content .nav-tabs > li {
    color: var(--primary);
    font-size: 16px;
    color: inherit;
    border: 1px solid #f5f5f5;
    border-bottom: none;
    margin-bottom: 0px;
}

.main-content .nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/*
 Buttons
*/

.content .btn {
    color: white;
    background-image: none;
    background-color: #344675;
}

.content .btn:disabled, 
.content .btn[disabled], 
.content .btn.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    pointer-events: none;
}

.main-content .content .btn:not([data-action]):hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.content .btn.btn-secondary:hover,
.content .btn.btn-outline-secondary:hover {
    color: #212529;
    background-color: #dee1e7;
    border-color: #d6dae2;
}

.content .btn-group > .btn:hover, 
.content .btn-group-vertical > .btn:hover {
    z-index: 1;
}

.content .btn:hover, 
.content .btn:focus, 
.content .navbar .navbar-nav > a.btn:hover, 
.content .navbar .navbar-nav > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
}

.content .btn:hover, 
.content .btn:focus {
    text-decoration: none;
}

/*
Vertial list
*/

ul.vertical-list li {
    list-style: none;
    text-align: center;
}

ul.vertical-list,
ul.vertical-list ul {
    padding: 0px;
}

.label-format {
    font-family: 'LatoWeb', sans-serif !important;
}

.ql-container.ql-snow  {
    max-height: 200px;
    overflow: auto;
}

.hero-circle {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    border: 8px solid var(--primary);
    border-radius: 50%;
}

.hero-face {
    width: 100%;
    height: 100%;
}

.hero-face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: black;
    border-radius: 6px;
    content: "";
    display: block;
}

.hero-hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 -4px -25%;
    padding: 4px 0 4px 25%;
    background: black;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 4px 0 0 4px;
}

.hero-minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -3px 0;
    padding: 40% 3px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 3px 3px 0 0;
}

.hero-second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

#clock-display > h2 {
    margin: 40px 0px;
}

.hero-display :first-child {
    margin: 68px 0px 62px 63px;
    text-align: center;
    font-weight: bold;
    width: 40px;
    height: 34px;
}